body {
  background-color: white
  color: orange;
}

h1 {
  text-decoration: white;
}

.section-1{
    background-color: orangered;
    font-size: 10px;
}

h2 {
  text-decoration: none;
}
.image-1 {
  height: 180px;
  width: 280px;
}

.image-2 {
  height: 20px;
  width: 40px;
}

h3 {
  text-decoration: white;
}
.section-3{
    background-color: orangered;
    font-size: 10px;
}
.image-3 {
  height: 180px;
  width: 200px;
}
.image-4 {
  height: 180px;
  width: 200px
}
.image-5 {
  height: 180px;
  width: 200px;
}
