body {
  font-family: monospace;
  background-color: white;
  color: orangered;
  width: 800px;
}

h1 {
  text-decoration: black;
}

.section-1{
    background-color: orangered;
    color: white;
    font-size: 16px;
}

h2 {
  text-decoration: none;
}
.section-2{
    background-color: white;
    color: black;
    font-size: 16px;
  }
.image-1 {
  height: 150px;
  width: 280px;
}

.image-2 {
  height: 20px;
  width: 40px;
}

h3 {
  text-decoration: white;
}
.section-3{
    background-color: orangered;
    color: white;
    font-size: 10px;
}
.image-3 {
  height: 100px;
  width: 180px;
}
.image-4 {
  height: 100px;
  width: 180px
}
.image-5 {
  height: 100px;
  width: 180px;
}
p{
  line-height: 20px
}
